film{
background-color: whitesmoke;
    display: block;
    width: 70%;
    margin-left: 20pt;
    margin: auto;
    margin-top: 60px;
}
item{
    display: block;
}
information{
display: block;
}
name{
    margin-top: 10px;
    font-size: 30px;
     margin-bottom: 16pt;
    color: orange;
    font-weight: bold;
    margin-right: 30px;
display: block;
}

type{
    margin-right:980px;

}
type:before{
    content:"类型："
}
poster{
    margin-left: 20px;
    opacity: 0.7;
  display: block;
}

 brief{
    font-size: 16px;
     opacity: 0.6;
     margin-left: 20px;
     margin-right: 50px;
     display: block;
 }

duration
{

    display: block;
}
duration::before{
    content: "电影时长：";
}
production
{

    display: block;
}
production::before
{
    content:"制片国家："
}
showDate{

    display: block;
}
showDate::before{
    content: "上映时间：";
}
res{
    margin-left: 20px;
opacity: 0.7;
  display: block;
}

mark{
display: block;
}
mark::before{
    content:"评分:"
}
person{
       display: block;
     margin-bottom: 30px;
 }
director,actor{
      display: block;
        opacity: 0.8;
}