film{
background-color: whitesmoke;
    display: block;
    width: 70%;
    margin-left: 20pt;
    margin: auto;
    margin-top: 60px;
}
item{
    display: block;
}
information{
display: block;
}
name{
    margin-top: 10px;
    font-size: 30px;
     margin-bottom: 16pt;
    color: orange;
    font-weight: bold;
    margin-right: 30px;
display: block;
}
type{
    margin-right:980px;

}
poster{

    margin-left: 20px;
    opacity: 0.7;
display: block;
}
 brief{
    font-size: 16px;
     opacity: 0.6;
     margin-left: 20px;
     margin-right: 50px;
     display: block;
 }


duration
{
 margin-right: 950px;
}
production
{
     margin-right:950px;
}
showDate{
margin-right:880px;
}
res{
    margin-left: 20px;
opacity: 0.7;
 display: block;
}
person{
       display: block;
     margin-bottom: 30px;
 }
director,actor{
      display: block;
        opacity: 0.8;
}